/* Aries v1.0 - by WowThemes.net */

body {
	width:100%;
	height:100%;
	font-family: 'Cairo', sans-serif;
	color:#fff;
	 font-weight:300;
}
html {
	width:100%;
	height:100%;
}
h1,h2,h3,h4,h5,h6 {
	margin:0 0 35px;
	text-transform:uppercase;
	font-family: 'Cairo', sans-serif;
	font-weight:700;
	letter-spacing:1px;
}

.no-p{
	padding: 0px;
}
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.page-content {
	flex: 1;
	background-color: #f9f9f9;
}
.list-group-m5 li,.list-group-m5 li:hover a {
    margin-bottom: 5px;
    background: #e94035;
    border: #e94035;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	margin-bottom: 25px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card-block h5{
	margin: 0 !important;	
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
.content-video iframe {
    width: 100%;
    height: 550px;
}

@media screen and (max-width: 480px) {
	.card {
		padding: 10px;
		margin: 20px auto;
	}
}
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.intro-textt { 
    text-align: center;
	-webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
   animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
-o-animation-iteration-count: infinite;
	width: calc(0.55em * 14); 
	width: 21ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(31, end),
	 blink-caret .5s step-end infinite alternate;
}
p {
	margin:0 0 25px;
	font-size:18px;
	line-height:1.5;
}
@media(min-width:768px) {
	p {
		margin:0 0 35px;
		font-size:20px;
		line-height:1.6;
	}
}
a {
	color:inherit;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
a:hover,a:focus {
	text-decoration:none;
	color:#E70013;
}
.light {
	font-weight:400;
}
.navbar {
	background: #E70013;
	margin-bottom:0;
	border-bottom:1px solid rgba(255,255,255,.3);
	text-transform:uppercase;
	font-family: 'Cairo', sans-serif;
	font-size:18px;
	padding:20px 20px;
}
.navbar-nav > li {
    float: right;
}
.navbar-custom {
	margin-bottom:0;
	border-bottom:1px solid rgba(255,255,255,.3);
	text-transform:uppercase;
	font-family: 'Cairo', sans-serif;
	background-color:#000;
	
}
.navbar-custom .navbar-brand {
	font-size:20px;
	text-transform:none;
	letter-spacing:1px;
}
.navbar-custom .navbar-brand:focus {
	outline:0;
	
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding:4px 6px;
	font-size:16px;
	color:#fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,.navbar-custom .navbar-brand .navbar-toggle:active {
	outline:0;
}
.navbar-custom a {
}
.navbar-custom .nav li a {
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline:0;
	color:#E70013;
	background-color:#fff;
}
.navbar-custom .nav li a:focus,.navbar-custom .nav li a:active {
	outline:0;
	background-color:transparent;
}
.navbar-custom .nav li.active {
	outline:0;
}
.navbar-custom .nav li.active a {
	color:#1ba39c;
}
.navbar-custom .nav li.active a:hover {
	color:#1ba39c;
}
@media(min-width:768px) {
	.navbar-custom {
		padding:20px 0;
		border-bottom:0;
		font-size:18px;
		background:100% 0;
		-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
		transition:background .5s ease-in-out,padding .5s ease-in-out;
	}
		 .navbar-custom.top-nav-collapse {
		 padding:0;
		border-bottom:1px solid rgba(255,255,255,.3);
		color:#fff;
		background:#E70013;
	}
	.navbar-custom.top-nav-collapse a {
		color:#fff;
		display:inline-block;
	}
}
.intro {
	display:table;
	width:100%;
	height:auto;
	padding:100px 0 100px 0;
	text-align:center;
	color:#fff;

	background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88)),url('http://almadar.tn/wp-content/uploads/2016/06/masira1.jpg');

	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}
.intro .intro-body {
	display:table-cell;
	vertical-align:middle;
}
.intro .intro-body .brand-heading {
	font-size:40px;
}
.intro .intro-body .intro-text {
	font-size:18px;
}
@media(min-width:768px) {
	.intro {
		height:100%;
		padding:0;
	}
	.intro .intro-body .brand-heading {
		font-size:60px;
		margin-top:90px;
		margin-bottom:20px;
		border-top:2px solid #fff;
		border-bottom:2px solid #fff;
		display:inline-block;
		padding:10px 0;
	}
	.intro .intro-body .intro-text {
		font-size:20px;
			font-weight:300;
			letter-spacing:1px;
	}
}
.btn-circle {
	width:50px;
	height:50px;
	margin-top:15px;
	line-height:40px;
	text-align:center;
	border:2px solid #fff;
	border-radius:100%!important;
	font-size:20px;
	color:#fff;
	background:100% 0;
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}
.btn-circle:hover,.btn-circle:focus {
	outline:0;
	color:#fff;
	background:rgba(255,255,255,.1);
}
.btn-circle i.animated {
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s;
}
.btn-circle:hover i.animated {
	-webkit-animation-name:pulse;
	-moz-animation-name:pulse;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	50% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}
	100% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-transform:scale(1);
		transform:scale(1);
	}
	50% {
		-moz-transform:scale(1.2);
		transform:scale(1.2);
	}
	100% {
		-moz-transform:scale(1);
		transform:scale(1);
	}
}
.content-section {
	padding:40px 0;
	clear:both;
}
@media(min-width:767px) {
	.content-section {
		padding:150px 0;
			 clear:both;
	}
}
.btn {
	border-radius:0;
	text-transform:uppercase;
	font-family: 'Cairo', sans-serif;
	font-weight:400;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.btn-default {
	border:1px solid #42dca3;
	color:#42dca3;
	background-color:transparent;
}
.btn-default:hover,.btn-default:focus {
	border:1px solid #42dca3;
	outline:0;
	color:#000;
	background-color:#42dca3;
}
ul.banner-social-buttons {
	margin-top:0;
}
@media(max-width:1199px) {
	ul.banner-social-buttons {
		margin-top:15px;
	}
}
@media(max-width:767px) {
	ul.banner-social-buttons li {
		display:block;
		margin-bottom:20px;
		padding:0;
	}
	ul.banner-social-buttons li:last-child {
		margin-bottom:0;
	}
}
footer {
	background-color: #000;
	padding:40px 0;
	z-index:1;
	position:relative;
	clear:both;
	direction:ltr;
}
footer p {
	margin:0;
	font-size:15px;
}
footer p.credits {
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:1px;
}
::-moz-selection {
	text-shadow:none;
	background:#fcfcfc;
	background:rgba(255,255,255,.2);
}
::selection {
	text-shadow:none;
	background:#fcfcfc;
	background:rgba(255,255,255,.2);
}
img::selection {
	background:100% 0;
}
img::-moz-selection {
	background:100% 0;
}
body {
	webkit-tap-highlight-color:rgba(255,255,255,.2);
}
.bgblue {
	background:#22292c;
}
.inlineblock {
	display:inline-block;
}
p:last-child {
	margin-bottom:0;
}
p.lead {
	line-height:1.9;
}
.btnghost {
	border:1px solid #E70013;
	background-color:transparent;
	padding:15px 20px;
	letter-spacing:1px;
	font-size:20px;
	text-transform:uppercase;
	font-weight:400;
	color:#E70013;
	margin-top:20px;
	display:inline-block;
}
.btnghost:hover {
	background-color:#E70013;
	color:#fff;
	border:1px solid #E70013;
}
.bgcover {
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
}
img {
	max-width:100%;
}
.gallery ul {
	padding:0;
	margin:0;
}
.gallery img {
	max-width:100%;
	height:auto;
	padding:0;
	margin:0;
}
.gallery ul li {
	margin:0;
	position:relative;
	list-style:none;
	float:right;
	padding:0;
}
.gallery ul li a {
	display:block;
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	line-height:0;
}
.gallery ul li a:before {
	position:absolute;
	width:32px;
	height:32px;
	top:40%;
	right:50%;
	margin:-14px -16px 0 0;
	background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
	content:"";
	opacity:0;
	z-index:1;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
.gallery ul li a:hover:before {
	top:50%;
	opacity:1;
}
.gallery ul li a:after {
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.3);
	content:"";
	opacity:0;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
.gallery ul li a:hover:after {
	opacity:1;
}
section:after {
	float:none;
	clear:both;
}
section {
	background-color:#f9f9f9;
	color:#333;
	overflow:hidden;
}
.done {
	display:none;
}
.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border-bottom:2px solid orangered !Important;
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
#contactform input,#contactform textarea {
	border:0px;
	border-bottom:2px solid #333;
	width:100%;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
	text-align: right;
}
#contactform input#submit {
	width:auto;
	border:1px solid;
	padding:10px 20px;
	display:inline-block;
	font-size:20px;
	border-color: #E70013;
	color: #E70013;
}

#contactform input#submit:hover {
	background-color: #E70013;
	color:#fff;
	border:1px solid #E70013;
	border-color: #E70013;
}
#contactform input:focus,#contactform input:active,#contactform textarea:focus,#contactform textarea:active {
	border-top:0px;
	border-bottom:2px solid #E70013;
	outline:0;
	outline: none;
}
svg {
  border: none;
  margin-right: -200px;
}

.land
{
   fill: #27AE60;
   fill-opacity: 1;
   stroke:white;
   stroke-opacity: 1;
   stroke-width:0.5;
				
}
.land:hover {
	fill :#E70013;
}
@media (min-width: 200px) {
	form {
	      margin-left:30px;
		  margin-right:30px;
		  margin-top:60px;
	}
	.col-md-8 .col-md-offset-2{
	      margin-left:60px;
		  margin-right:60px;
		  
	}
	.brand-heading {
		margin-top:30px;
	}
	.intro-textt {
		font-size:18px;
	}
	.map {
    margin-top: 100px;
	margin-right: -100px;
}
@media (max-width: 200px) {
	svg {
    margin-top: 100px;
	margin-right: -10px;
}
}
@media (max-width: 300px) {
	svg {
    margin-top: 100px;
	margin-right: -150px;
}
}
@media (max-width: 310px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 320px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 330px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 340px) {
	.map {
    margin-top: 100px;
	margin-right: -300px;
}
}
@media (max-width: 350px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 360px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 370px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 380px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 390px) {
	.map {
    margin-top: 100px;
	margin-left: -150px;
}
}
@media (max-width: 400px) {
	.map {
    margin-top: 100px;
margin-left: -150px;
}
}
@media (max-width: 500px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 510px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 520px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 530px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 540px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 550px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}

@media (max-width: 560px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 570px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 580px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 590px) {
	.map {
    margin-top: 100px;
	margin-left: -120px;
}
}
@media (max-width: 600px) {
	.map {
		margin-top: 100px;
		margin-right: -300px;
	}
}